<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add Inpatient Information</title>
        <link rel="stylesheet" href="/static/style_add.css"> 
    </head>
<body>
    <div class="center">
        <h1>
            Add Inpatient Information
        </h1>
        <form method="POST">
            <div class="text_field">
                <input type="text" name="code" required>
                <span></span>
                <label>Patient code</label>
            </div>
            <div class="text_field">
                <input type="text" name="firstname" required>
                <span></span>
                <label>First name</label>
            </div>
            <div class="text_field">
                <input type="text" name="lastname" required>
                <span></span>
                <label>Last name</label>
            </div>
            <div class="text_field">
                <input type="text" name="address" required>
                <span></span>
                <label>Address</label>
            </div>
            <div class="text_field">
                <input type="text" name="birthday" required>
                <span></span>
                <label>Date of birth:  YYYY-MM-DD</label>
            </div>
            <div class="text_field">
                <input type="text" name="gender" required>
                <span></span>
                <label>Gender (male = m and female = f)</label>
            </div>
            <div class="text_field">
                <input type="text" name="phonenumber" required>
                <span></span>
                <label>Phone number</label>
            </div>
            <div class="text_field">
                <input type="text" name="nur_code" required>
                <span></span>
                <label>Nurse Code</label>
            </div>
            <div class="text_field">
                <input type="text" name="DOA" required>
                <span></span>
                <label>Date of Admission</label>
            </div>
            <div class="text_field">
                <input type="text" name="room" required>
                <span></span>
                <label>Room</label>
            </div>
            <div class="text_field">
                <input type="text" name="DOD" required>
                <span></span>
                <label>Date of Discharge</label>
            </div>
            <div class="text_field">
                <input type="text" name="fee" required>
                <span></span>
                <label>Fee</label>
            </div>
            <div class="text_field">
                <input type="text" name="dia" required>
                <span></span>
                <label>Diagnosis</label>
            </div>
            <input type="submit" name="button" value="Add">       
        </form>
        <form method="POST">
            <input type="submit" name="button" value="Home">            
        </form>
    </div>
</body>
</html>