<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Options</title>
        <link rel="stylesheet" href="/static/style_home.css"> 
    </head>
<body>
    <div class="center">
      <h1>Options</h1>
      <form method="POST">
        <input type="submit" name="submitbutton" value="Search for patient information">
        <input type="submit" name="submitbutton" value="Add inpatient information">
        <input type="submit" name="submitbutton" value="Add outpatient information">
        <input type="submit" name="submitbutton" value="Search for information of patient treated by doctor">
        <input type="submit" name="submitbutton" value="Total payment">
      </form>
    </div>
</body>
</html>