<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Search Patient Information</title>
        <link rel="stylesheet" href="/static/style1.css"> 
    </head>
<body>
    <div class="center">
        <h1>
            Patient Information
        </h1>
        <form method="POST">
            <div class="text_field">
                <input type="text" name="firstname" required>
                <span></span>
                <label>First name</label>
            </div>
            <div class="text_field">
                <input type="text" name="lastname" required>
                <span></span>
                <label>Last name</label>
            </div>
            <input type="submit" name="button" value="Search">
        </form>
        <table class="table sticky">
            <thead>
                <tr>
                    <th>PATcode</th>
                    <th>Address</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {%for row in data%}
                    <tr>
                        {%for cell in row%}
                            <td>{{ cell }}</td>
                        {%endfor%}
                    </tr>
                    {%endfor%}
                </tr>
            </tbody>
        </table>
        <p></p>
        <form method="POST">
            <input type="submit" name="button" value="Home">
        </form>
    </div>
</body>
</html>