<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Animated Login Form</title>
        <link rel="stylesheet" href="/static/style1.css"> 
    </head>
<body>
    <div class="center">
        <h1>
            Total Payment
        </h1>
        <form method="POST">
            <div class="text_field">
                <input type="text" name="ID" required>
                <span></span>
                <label>ID</label>
            </div>
            <input type="submit" name="button" value="Search">
        </form>
        <table class="table sticky">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Date</th>
                    <th>Medication Bill</th>
                    <th>Fee</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {%for row in data%}
                    <tr>
                        {%for cell in row%}
                            <td>{{ cell }}</td>
                        {%endfor%}
                    </tr>
                    {%endfor%}
                </tr>
            </tbody>
        </table>
        <p></p>
        <form method="POST">
            <input type="submit" name="button" value="Home">            
        </form>
    </div>
</body>
</html>